<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Filtros</h5>
        <p class="card-category">Seleccione los filtros para obtener la información</p>
      </div>
      <div class="card-body">
        <!-- <form> -->
          <div class="row">
            <div class="col-md-3 pr-1">
              <div class="form-group">
                <label>Ciudad Origen:</label>
                <select name="cityOrigin" class="form-control" [(ngModel)]="cityOrigin">
                  <option value="">Seleccione</option>
                  <option value="BARRANQUILLA">BARRANQUILLA</option>
                  <option value="BUCARAMANGA">BUCARAMANGA</option>
                  <option value="ENVIGADO">ENVIGADO</option>
                  <option value="CARTAGENA DE INDIAS">CARTAGENA DE INDIAS</option>
                  <option value="MONTERÍA">MONTERÍA</option>
                  <option value="BARBOSA">BARBOSA</option>
                  <option value="MEDELLÍN">MEDELLÍN</option>
                  <option value="SOACHA">SOACHA</option>
                  <option value="MANIZALES">MANIZALES</option>
                  <option value="SOPÓ">SOPÓ</option>
                  <option value="GIRARDOTA">GIRARDOTA</option>
                  <option value="CALDAS">CALDAS</option>
                  <option value="SAMACÁ">SAMACÁ</option>
                  <option value="MALAMBO">MALAMBO</option>
                  <option value="SOCHA">SOCHA</option>
                  <option value="BOGOTÁ, D.C.">BOGOTÁ, D.C.</option>
                  <option value="POPAYÁN">POPAYÁN</option>
                  <option value="BUENAVENTURA">BUENAVENTURA</option>
                  <option value="SITIONUEVO">SITIONUEVO</option>
                  <option value="SOGAMOSO">SOGAMOSO</option>
                  <option value="TOCANCIPÁ">TOCANCIPÁ</option>
                  <option value="TUTA">TUTA</option>
                  <option value="LENGUAZAQUE">LENGUAZAQUE</option>
                  <option value="PUERTO TEJADA">PUERTO TEJADA</option>
                  <option value="AGUAZUL">AGUAZUL</option>
                  <option value="ESPINAL">ESPINAL</option>
                  <option value="YUMBO">YUMBO</option>
                  <option value="MADRID">MADRID</option>
                  <option value="GALAPA">GALAPA</option>
                  <option value="SAN FRANCISCO">SAN FRANCISCO</option>
                  <option value="FUNZA">FUNZA</option>
                  <option value="SOLEDAD">SOLEDAD</option>
                  <option value="MONTENEGRO">MONTENEGRO</option>
                  <option value="DOSQUEBRADAS">DOSQUEBRADAS</option>
                  <option value="SABANETA">SABANETA</option>
                  <option value="LA ESTRELLA">LA ESTRELLA</option>
                  <option value="MONTELÍBANO">MONTELÍBANO</option>
                  <option value="EL ZULIA">EL ZULIA</option>
                  <option value="TENJO">TENJO</option>
                  <option value="SALGAR">SALGAR</option>
                  <option value="CUCUNUBÁ">CUCUNUBÁ</option>
                  <option value="COPACABANA">COPACABANA</option>
                  <option value="SAN CARLOS DE GUAROA">SAN CARLOS DE GUAROA</option>
                  <option value="RIONEGRO">RIONEGRO</option>
                  <option value="COELLO">COELLO</option>
                  <option value="YARUMAL">YARUMAL</option>
                  <option value="IBAGUÉ">IBAGUÉ</option>
                  <option value="VILLAVICENCIO">VILLAVICENCIO</option>
                  <option value="PORE">PORE</option>
                  <option value="PEREIRA">PEREIRA</option>
                  <option value="CÚCUTA">CÚCUTA</option>
                  <option value="VENADILLO">VENADILLO</option>
                  <option value="PURIFICACIÓN">PURIFICACIÓN</option>
                  <option value="CHINCHINÁ">CHINCHINÁ</option>
                  <option value="LÉRIDA">LÉRIDA</option>
                  <option value="TULUÁ">TULUÁ</option>
                  <option value="PALMIRA">PALMIRA</option>
                  <option value="NEIVA">NEIVA</option>
                  <option value="BARRANCABERMEJA">BARRANCABERMEJA</option>
                  <option value="PUERTO GAITÁN">PUERTO GAITÁN</option>
                  <option value="CANDELARIA">CANDELARIA</option>
                  <option value="ITUANGO">ITUANGO</option>
                  <option value="GUACARÍ">GUACARÍ</option>
                  <option value="CUAUTITLÁN">CUAUTITLÁN</option>
                  <option value="PUERTO TRIUNFO">PUERTO TRIUNFO</option>
                  <option value="EL CERRITO">EL CERRITO</option>
                  <option value="CORINTO">CORINTO</option>
                  <option value="GUADALAJARA DE BUGA">GUADALAJARA DE BUGA</option>
                  <option value="MIRANDA">MIRANDA</option>
                  <option value="CAREPA">CAREPA</option>
                  <option value="NARIÑO">NARIÑO</option>
                  <option value="SANTA ROSA DE CABAL">SANTA ROSA DE CABAL</option>
                  <option value="GUARNE">GUARNE</option>
                  <option value="SANTA MARTA">SANTA MARTA</option>
                  <option value="SIBATÉ">SIBATÉ</option>
                  <option value="MOSQUERA">MOSQUERA</option>
                  <option value="YONDÓ">YONDÓ</option>
                  <option value="SALDAÑA">SALDAÑA</option>
                  <option value="YOPAL">YOPAL</option>
                  <option value="FLORIDA">FLORIDA</option>
                  <option value="GARZÓN">GARZÓN</option>
                  <option value="CALI">CALI</option>
                  <option value="GUACHETÁ">GUACHETÁ</option>
                  <option value="VALLEDUPAR">VALLEDUPAR</option>
                  <option value="OVEJAS">OVEJAS</option>
                  <option value="SINCELEJO">SINCELEJO</option>
                  <option value="RIOHACHA">RIOHACHA</option>
                  <option value="FREDONIA">FREDONIA</option>
                  <option value="TAUSA">TAUSA</option>
                  <option value="CUMARAL">CUMARAL</option>
                  <option value="MAPIRIPÁN">MAPIRIPÁN</option>
                  <option value="ANSERMA">ANSERMA</option>
                  <option value="CIMITARRA">CIMITARRA</option>
                  <option value="PIEDECUESTA">PIEDECUESTA</option>
                  <option value="DIBULLA">DIBULLA</option>
                  <option value="TLALNEPANTLA DE BAZ">TLALNEPANTLA DE BAZ</option>
                  <option value="COTA">COTA</option>
                  <option value="OROCUÉ">OROCUÉ</option>
                  <option value="TARSO">TARSO</option>
                  <option value="CAJICÁ">CAJICÁ</option>
                  <option value="LA UNIÓN">LA UNIÓN</option>
                  <option value="ITAGÜÍ">ITAGÜÍ</option>
                  <option value="GIRÓN">GIRÓN</option>
                  <option value="SAN GIL">SAN GIL</option>
                  <option value="PUERTO NARE">PUERTO NARE</option>
                  <option value="ANDES">ANDES</option>
                  <option value="ABEJORRAL">ABEJORRAL</option>
                  <option value="SUESCA">SUESCA</option>
                  <option value="CALOTO">CALOTO</option>
                  <option value="MAICAO">MAICAO</option>
                  <option value="BELLO">BELLO</option>
                  <option value="CHÍA">CHÍA</option>
                  <option value="BUGALAGRANDE">BUGALAGRANDE</option>
                  <option value="SOCOTÁ">SOCOTÁ</option>
                  <option value="PRADERA">PRADERA</option>
                  <option value="NOBSA">NOBSA</option>
                  <option value="CAPARRAPÍ">CAPARRAPÍ</option>
                  <option value="SAN MARTÍN">SAN MARTÍN</option>
                  <option value="ARMENIA">ARMENIA</option>
                  <option value="EL PASO">EL PASO</option>
                  <option value="MARINILLA">MARINILLA</option>
                  <option value="LA TEBAIDA">LA TEBAIDA</option>
                  <option value="FUSAGASUGÁ">FUSAGASUGÁ</option>
                  <option value="SARDINATA">SARDINATA</option>
                  <option value="BOSCONIA">BOSCONIA</option>
                  <option value="AMAGÁ">AMAGÁ</option>
                  <option value="SANTANDER DE QUILICHAO">SANTANDER DE QUILICHAO</option>
                  <option value="APARTADÓ">APARTADÓ</option>
                  <option value="FUNDACIÓN">FUNDACIÓN</option>
                  <option value="PITALITO">PITALITO</option>
                  <option value="LA DORADA">LA DORADA</option>
                  <option value="PUERTO LIBERTADOR">PUERTO LIBERTADOR</option>
                  <option value="PUERTO RICO">PUERTO RICO</option>
                  <option value="CURUMANÍ">CURUMANÍ</option>
                  <option value="FLORIDABLANCA">FLORIDABLANCA</option>
                  <option value="TOLÚ VIEJO">TOLÚ VIEJO</option>
                  <option value="TUNJA">TUNJA</option>
                  <option value="DAGUA">DAGUA</option>
                  <option value="CARTAGO">CARTAGO</option>
                  <option value="FACATATIVÁ">FACATATIVÁ</option>
                  <option value="ALCALÁ">ALCALÁ</option>
                  <option value="CIÉNAGA DE ORO">CIÉNAGA DE ORO</option>
                  <option value="CABUYARO">CABUYARO</option>
                  <option value="URIBIA">URIBIA</option>
                  <option value="PAZ DE RÍO">PAZ DE RÍO</option>
                  <option value="PASTO">PASTO</option>
                  <option value="CERETÉ">CERETÉ</option>
                  <option value="GRANADA">GRANADA</option>
                  <option value="TURBACO">TURBACO</option>
                  <option value="PUERTO BERRÍO">PUERTO BERRÍO</option>
                  <option value="ACACÍAS">ACACÍAS</option>
                  <option value="RIOFRÍO">RIOFRÍO</option>
                  <option value="CÓRDOBA">CÓRDOBA</option>
                  <option value="CAUCASIA">CAUCASIA</option>
                  <option value="SUTATAUSA">SUTATAUSA</option>
                  <option value="LA PINTADA">LA PINTADA</option>
                  <option value="PAMPLONA">PAMPLONA</option>
                  <option value="TIERRALTA">TIERRALTA</option>
                  <option value="TARAZÁ">TARAZÁ</option>
                  <option value="CÁCERES">CÁCERES</option>
                  <option value="BARANOA">BARANOA</option>
                  <option value="FLORENCIA">FLORENCIA</option>
                  <option value="IPIALES">IPIALES</option>
                  <option value="ÁBREGO">ÁBREGO</option>
                  <option value="BOYACÁ">BOYACÁ</option>
                  <option value="PUERTO WILCHES">PUERTO WILCHES</option>
                  <option value="BARRANCO MINAS">BARRANCO MINAS</option>
                  <option value="PALESTINA">PALESTINA</option>
                  <option value="HONDA">HONDA</option>
                  <option value="GAMARRA">GAMARRA</option>
                  <option value="ALBANIA">ALBANIA</option>
                  <option value="SEVILLA">SEVILLA</option>
                  <option value="TIBASOSA">TIBASOSA</option>
                  <option value="ARACATACA">ARACATACA</option>
                  <option value="SABANAGRANDE">SABANAGRANDE</option>
                  <option value="LA VIRGINIA">LA VIRGINIA</option>
                  <option value="DUITAMA">DUITAMA</option>
                  <option value="AGUACHICA">AGUACHICA</option>
                  <option value="SAN JUAN DE URABÁ">SAN JUAN DE URABÁ</option>
                  <option value="CIÉNAGA">CIÉNAGA</option>
                  <option value="RIVERA">RIVERA</option>
                  <option value="PUERTO SALGAR">PUERTO SALGAR</option>
                  <option value="AMALFI">AMALFI</option>
                  <option value="ZARZAL">ZARZAL</option>
                  <option value="PUERTO LÓPEZ">PUERTO LÓPEZ</option>
                  <option value="FRESNO">FRESNO</option>
                  <option value="ZIPAQUIRÁ">ZIPAQUIRÁ</option>
                  <option value="CALARCÁ">CALARCÁ</option>
                  <option value="ANORÍ">ANORÍ</option>
                  <option value="CIUDAD BOLÍVAR">CIUDAD BOLÍVAR</option>
                  <option value="SAN AGUSTÍN">SAN AGUSTÍN</option>
                  <option value="BELÉN">BELÉN</option>
                  <option value="SANTA BÁRBARA">SANTA BÁRBARA</option>
                  <option value="CHINAVITA">CHINAVITA</option>
                  <option value="VILLA RICA">VILLA RICA</option>
                  <option value="VITERBO">VITERBO</option>
                  <option value="ARIGUANÍ">ARIGUANÍ</option>
                  <option value="SAN PEDRO">SAN PEDRO</option>
                  <option value="TESALIA">TESALIA</option>
                  <option value="JAMUNDÍ">JAMUNDÍ</option>
                </select>
              </div>
            </div>
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Ciudad Destino:</label>
                <select name="cityDestiny" class="form-control" [(ngModel)]="cityDestiny">
                  <option value="">Seleccione</option>
                  <option value="ITUANGO">ITUANGO</option>
                  <option value="COTA">COTA</option>
                  <option value="BOCHALEMA">BOCHALEMA</option>
                  <option value="IBAGUÉ">IBAGUÉ</option>
                  <option value="PALERMO">PALERMO</option>
                  <option value="QUINCHÍA">QUINCHÍA</option>
                  <option value="CÚCUTA">CÚCUTA</option>
                  <option value="BARRANQUILLA">BARRANQUILLA</option>
                  <option value="SABANETA">SABANETA</option>
                  <option value="MEDELLÍN">MEDELLÍN</option>
                  <option value="BOGOTÁ, D.C.">BOGOTÁ, D.C.</option>
                  <option value="VILLAVICENCIO">VILLAVICENCIO</option>
                  <option value="PALMIRA">PALMIRA</option>
                  <option value="PEREIRA">PEREIRA</option>
                  <option value="POPAYÁN">POPAYÁN</option>
                  <option value="SINCELEJO">SINCELEJO</option>
                  <option value="TUTA">TUTA</option>
                  <option value="DUITAMA">DUITAMA</option>
                  <option value="MADRID">MADRID</option>
                  <option value="ARMENIA">ARMENIA</option>
                  <option value="SOGAMOSO">SOGAMOSO</option>
                  <option value="CARTAGENA DE INDIAS">CARTAGENA DE INDIAS</option>
                  <option value="CALI">CALI</option>
                  <option value="EL SANTUARIO">EL SANTUARIO</option>
                  <option value="BUENAVENTURA">BUENAVENTURA</option>
                  <option value="GUADALAJARA DE BUGA">GUADALAJARA DE BUGA</option>
                  <option value="FACATATIVÁ">FACATATIVÁ</option>
                  <option value="TIBASOSA">TIBASOSA</option>
                  <option value="NEIVA">NEIVA</option>
                  <option value="GIRÓN">GIRÓN</option>
                  <option value="YUMBO">YUMBO</option>
                  <option value="SANTA MARTA">SANTA MARTA</option>
                  <option value="SIBATÉ">SIBATÉ</option>
                  <option value="ITAGÜÍ">ITAGÜÍ</option>
                  <option value="PUERTO GAITÁN">PUERTO GAITÁN</option>
                  <option value="DIBULLA">DIBULLA</option>
                  <option value="IPIALES">IPIALES</option>
                  <option value="BOSCONIA">BOSCONIA</option>
                  <option value="BUCARAMANGA">BUCARAMANGA</option>
                  <option value="TOCANCIPÁ">TOCANCIPÁ</option>
                  <option value="ZIPAQUIRÁ">ZIPAQUIRÁ</option>
                  <option value="LA JAGUA DE IBIRICO">LA JAGUA DE IBIRICO</option>
                  <option value="GIRARDOTA">GIRARDOTA</option>
                  <option value="SOACHA">SOACHA</option>
                  <option value="CARTAGO">CARTAGO</option>
                  <option value="RIONEGRO">RIONEGRO</option>
                  <option value="REPELÓN">REPELÓN</option>
                  <option value="SEGOVIA">SEGOVIA</option>
                  <option value="DOSQUEBRADAS">DOSQUEBRADAS</option>
                  <option value="MANIZALES">MANIZALES</option>
                  <option value="PIEDECUESTA">PIEDECUESTA</option>
                  <option value="MONTELÍBANO">MONTELÍBANO</option>
                  <option value="GRANADA">GRANADA</option>
                  <option value="LA VEGA">LA VEGA</option>
                  <option value="BELLO">BELLO</option>
                  <option value="FUNZA">FUNZA</option>
                  <option value="YARUMAL">YARUMAL</option>
                  <option value="ENVIGADO">ENVIGADO</option>
                  <option value="SORACÁ">SORACÁ</option>
                  <option value="VALLEDUPAR">VALLEDUPAR</option>
                  <option value="GALAPA">GALAPA</option>
                  <option value="SAN SEBASTIÁN DE MARIQUITA">SAN SEBASTIÁN DE MARIQUITA</option>
                  <option value="EL ROSAL">EL ROSAL</option>
                  <option value="PASTO">PASTO</option>
                  <option value="YOPAL">YOPAL</option>
                  <option value="SOPÓ">SOPÓ</option>
                  <option value="CANDELARIA">CANDELARIA</option>
                  <option value="TUNJA">TUNJA</option>
                  <option value="GIRARDOT">GIRARDOT</option>
                  <option value="GUARNE">GUARNE</option>
                  <option value="VENADILLO">VENADILLO</option>
                  <option value="BARBOSA">BARBOSA</option>
                  <option value="MONTERÍA">MONTERÍA</option>
                  <option value="MAGANGUÉ">MAGANGUÉ</option>
                  <option value="SOLEDAD">SOLEDAD</option>
                  <option value="YOTOCO">YOTOCO</option>
                  <option value="GUADUAS">GUADUAS</option>
                  <option value="CÓRDOBA">CÓRDOBA</option>
                  <option value="FONSECA">FONSECA</option>
                  <option value="RIOHACHA">RIOHACHA</option>
                  <option value="JAMUNDÍ">JAMUNDÍ</option>
                  <option value="CALDAS">CALDAS</option>
                  <option value="SAN GIL">SAN GIL</option>
                  <option value="FUSAGASUGÁ">FUSAGASUGÁ</option>
                  <option value="SIMIJACA">SIMIJACA</option>
                  <option value="TOTORÓ">TOTORÓ</option>
                  <option value="QUIBDÓ">QUIBDÓ</option>
                  <option value="PITALITO">PITALITO</option>
                  <option value="LA ESTRELLA">LA ESTRELLA</option>
                  <option value="MOMPÓS">MOMPÓS</option>
                  <option value="SAN CARLOS DE GUAROA">SAN CARLOS DE GUAROA</option>
                  <option value="MAICAO">MAICAO</option>
                  <option value="MOSQUERA">MOSQUERA</option>
                  <option value="CURUMANÍ">CURUMANÍ</option>
                  <option value="CAJICÁ">CAJICÁ</option>
                  <option value="LA CEJA">LA CEJA</option>
                  <option value="TULUÁ">TULUÁ</option>
                  <option value="SAN PEDRO">SAN PEDRO</option>
                  <option value="MOCOA">MOCOA</option>
                  <option value="LA UNIÓN">LA UNIÓN</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 pr-1">
              <div class="form-group">
                <label>Fecha Inicial:</label>
                <input type="date" class="form-control" placeholder="Company" value="Chet" [(ngModel)]="dateStart">
              </div>
            </div>
            <div class="col-md-3 pl-1">
              <div class="form-group">
                <label>Fecha Final:</label>
                <input type="date" class="form-control" placeholder="Company" value="Chet" [(ngModel)]="dateFinish">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="">
              <button style="margin-left: 292px" class="btn btn-primary btn-round" (click)="search()">Buscar</button>
            </div>
          </div>
        <!-- </form> -->
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <!-- <i class="fa fa-history"></i> Updated 3 minutes ago -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-paper text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Total Registros</p>
              <p class="card-title">{{records}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Información suminstrada por ControlT
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-bus-front-12 text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Total Tipos Vehiculo</p>
              <p class="card-title">{{typesVehicles}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i> Información suminstrada por ControlT
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-calendar-60 text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Día Con Mayor trafico</p>
              <p class="card-title" style="font-size: 24px">{{dayWithHighestTraffic}} - {{countDayWithHighestTraffic}}
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> Información suminstrada por ControlT
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-send text-default"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Viajes Promedio</p>
              <p class="card-title">{{averageTripsPerDay}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> Información suminstrada por ControlT
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card card-stats">
                  <div class="card-body ">
                        <table class="table">
                        <thead class=" text-primary">
                          <th>
                            Origen
                          </th>
                          <th>
                            Destino
                          </th>
                          <th>
                            Fecha Creación del Viaje
                          </th>
                          <th>
                            Fecha Finalización del Viaje
                          </th>
                          <th>
                            Tipo de Vehiculo
                          </th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let i of info">
                              <td>{{i.origin}}</td>
                              <td>{{i.destiny}}</td>
                              <td>{{i.createdOn}}</td>
                              <td>{{i.finishOn}}</td>
                              <td>{{i.vehicleType}}</td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
            </div>
      </div> 
</div> 