
<div class="sidebar-wrapper">
  <div class="logo">
    <a href="https://controlt.com.co/trafico-vehicular/" class="simple-text">
      <div class="logo-image-large">
        <img src="https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://controlt.com.co/wp-content/uploads/2020/05/logo_controlt_new.png" width="200px">
      </div>
    </a>
    <a href="https://controlt.com.co/trafico-vehicular/" class="simple-text logo-normal">
    </a>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
